@import "./base/global";

.header{
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid #eee;
  color: #48483F;
  font-size: 14px;
 }

nav ul{
  display:flex;
  margin-right:10px;
  height: 100%;
}

nav li{
  padding: 20px;
}

nav button{
  width: 24px;
  margin-right: 20px;
  margin-top: 16px;
}

.right_nav {
  display:flex;
  width: 22%;
  height: 100%;
}

.left_nav{
  display:flex;
  justify-content: center;
}

nav img {
  display: inline-block ;
  vertical-align: middle ;
  height: 40px;
  width:auto;
  margin-left: 15px;
  margin-top: -10px;
}

.right_nav li button {
  display: flex;
  width:100%;
}

#welcome{
  padding:0px;
  padding-top: 36px;
}

nav li:hover{
  border-bottom: 1px solid #1c94e0;
}
